

.preloader {
  display: flex; /* or block, depending on your layout */
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1); /* Adjust for your design */
  z-index: 9999; /* Ensure it's on top */
}

.hidden {
  display: none; /* This will hide the preloader */
}
